* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  background-color: rgb(219, 217, 217);
}

.background {
  width: 100vw;
  height: 50vh;
  background: rgba(0, 0, 0, 0.842);
  position: relative;
}

.main-content {
  width: 40%;
  height: 45vh;
  background: rgb(255, 255, 255);

  border-radius: 8px 8px;
  margin: auto;
  text-align: center;
  position: relative;
  top: -200px;
}
.top {
  text-align: center;
  position: relative;
  border-radius: 8px 8px;
  width: 100%;
  height: 10vh;
  background-color: rgb(231, 238, 238);
  border-bottom: 1px solid black;
  background-color: rgb(245, 245, 245);
  margin-bottom: 80px;
}
.randome {
  text-transform: uppercase;
  padding: 10px 25px 10px 25px;
  letter-spacing: 2px;
  background-color: rgb(2, 164, 228);
  color: white;
  border-radius: 8px 8px 8px 8px;
  border: none;
  font-size: 18px;
}

#image {
  border-radius: 100%;
  position: relative;
  margin-top: 30px;
  border: 3px solid white;
}

.btn-content {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 30px;
  padding-bottom: 40px;
}

#text {
  font-size: 15px;
  padding: 10px;
}
#name {
  font-weight: 400;
}
.span {
  font-size: 50px;
  color: grey;
  transition: all 1s;
}

.span:hover {
  color: rgb(2, 164, 228);
}

@media screen and (min-width: 355px) {
  .span {
    font-size: 20px;
  }
  #name {
    font-size: 20px;
  }
  .btn-content {
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
  }
  .main-content {
    height: 41vh;
  }
}
